<h1> estudiante1 </h1>
<p>Nombre: <%= @User.nombre %></p>
<p> t.string "nombre"
t.string "colegio"
t.string "email"
t.integer "documento"</p>
<p> t.string "nombre"
t.string "colegio"
t.string "email"
t.integer "documento"</p>
<p> t.string "nombre"
t.string "colegio"
t.string "email"
t.integer "documento"</p>

